<ion-content>
  <ion-card routerLink="/login" class="photoshop">
    <ion-card-header>
      <img src="../../assets/free-photo-editors.jpg" alt="">
    </ion-card-header>
    <ion-card-content>
      Choose from our trusted freelancer partners to edit your photos.
    </ion-card-content>  
  </ion-card>

  <ion-card routerLink="/login" class="video">
    <ion-card-header>
      <img src="../../assets/Rb9d83102404c2c4229d004f3771e31b9.jpg" alt="">
    </ion-card-header>
    <ion-card-content>
      Choose from our trusted freelancer partners to edit your videos.
    </ion-card-content>  
  </ion-card>

  <ion-card routerLink="/login" class="write">
    <ion-card-header>
      <img src="../../assets/R952d582376bbe5b90ace05f47411eb55.jpg" alt="">
    </ion-card-header>
    <ion-card-content>
      Choose from our trusted freelancer partners to edit your documents.
    </ion-card-content>  
  </ion-card>
</ion-content>
