ion-content {
    margin-top: 500px;
}

ion-header {
    padding-top: 20px;
    background-color: white;
}

.img {
    margin-left: 70px;
    width: 50%;
}

.welcome {
    margin-top: 30px;
    margin-left: 80px;
}

.reg {
    color: green;
    margin-left: 83px;
}

ion-icon {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

ion-item {
    width: 200px;
    position: relative;
    margin-left: 30px;
}

ion-button {
    color: darkslategray;
    background-color: lightgreen;
    font-size: 20px;
    margin-left: 60px;
    width: 150px;
    height: 50px;
    align-items: center;
    margin-top: 40px;
}

.forgot {
    color: green;
}