<ion-header id="splash">
  <ion-toolbar id="tagline-container">
    <img src="../assets/OPUS-2.png" alt="logo" id="img">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <h1 id="tagline">Your Job is Our Priority</h1>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>&nbsp;&nbsp;
          <ion-input type="email" [(ngModel)]="user_email" placeholder=" Email" required> </ion-input>
        </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp;
          <ion-input type="password" [(ngModel)]="user_password" placeholder=" Password" required> </ion-input>
        </ion-item>
       </ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button id="login-button" color="primary" (click)="loginUser()">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p id="reg-text">No Account Yet? You're Missing Out!</p>
        <ion-button class="register-button" color="tertiary" routerLink="/register">Register Now!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
