ion-content {
  float: right
}

ion-header {
  padding-top: 100px;
  background-color: #2F4F4F;
}

.img {
    width: 75%;
    margin: auto;  
    display: block;
}

.heading {
  text-align: center;
}

.login-container {
}

.welcome {
  margin-top: 30px;
}

.form-input {
  text-align: center;
}

.register {
  text-align: center;
}
.reg{
    color:darkgreen;
}

ion-icon {
}

ion-item {
}

ion-button {
  --border-radius: 40px;
}

.forgot {
  color: green;
}
