<ion-header class="ion-no-border">
  <img src="../assets/OPUS-2.png" alt="logo" class="img">
</ion-header>

<ion-content>
  <div class="login-container">

    <div class="heading">
      <h1 class="welcome">Your Job is Our Priority</h1>
    </div>

    <div class="form-input">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>&nbsp;&nbsp;
        <ion-input type="email" [(ngModel)]="user_email" placeholder=" Email" required> </ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline" class="icon2"></ion-icon>&nbsp;&nbsp;
        <ion-input type="password" [(ngModel)]="user_password" placeholder=" Password" required> </ion-input>
      </ion-item>
      <br />
      <ion-button class="login-button" color="tertiary" (click)="loginUser()">Login</ion-button>
    </div>

    <div class="register">
      <p class="reg"><span>No Account Yet? You're Missing Out!</span></p>
      <ion-button class="register-button" routerLink="/register">Register Now!</ion-button>
    </div>

  </div>
</ion-content>
