ion-content {
  float: right
}

ion-content {
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

ion-header {
  padding-top: 50px;
  background-color: #2F4F4F;
}

.img {
    width: 80%;
    margin: auto;  
    display: block;
}

.heading {
  text-align: center;
}

.login-container {
}

.welcome {
  margin-top: 20px;
  font-size: 20px;
}

.form-input {
  text-align: center;
}

.register {
  text-align: center;
}
.reg{
    color:darkgreen;
}

ion-icon {
}

ion-item {
}

ion-button {
  border-radius: 40px;
  --border-radius: 40px;
  box-shadow: 0 5px 5px #777;
}

.forgot {
  color: green;
}
