
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="message">
      <fa-icon icon="comments-dollar" size="lg"></fa-icon>
      <!--<ion-label>Marketplace</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <fa-icon icon="arrow-circle-down" size="lg"></fa-icon>
      <!--<ion-label>Job Board</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <fa-icon icon="arrow-circle-up" size="lg"></fa-icon>
      <!--<ion-label>Service Board</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <fa-icon icon="user" size="lg"></fa-icon>
      <!--<ion-label>Profile</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
