<!--<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>-->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <fa-icon icon="comments-dollar" size="2x"></fa-icon>
      <!--<ion-label>Marketplace</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <fa-icon icon="arrow-circle-down" size="2x"></fa-icon>
      <!--<ion-label>Job Board</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <fa-icon icon="arrow-circle-up" size="2x"></fa-icon>
      <!--<ion-label>Service Board</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <fa-icon icon="user" size="2x"></fa-icon>
      <!--<ion-label>Profile</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
