<ion-content [fullscreen]="true">
  <div class="search">
    <ion-searchbar animated autocomplete placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  </div>



  <ion-card *ngFor="let reqs of reqs">

    <ion-card-header [color]="reqs.req_type == 'Buying' ? 'secondary' : 'tertiary'">
      <ion-card-title>
        <h2>{{reqs.req_title}}</h2>
        <ion-card-subtitle>
          Request Type : {{reqs.req_type}}
        </ion-card-subtitle>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <!--<img src="../assets/card-img.PNG" alt="" class="card-image" />-->
      </ion-item>
      <ion-item>
        <h4>{{reqs.req_desc}}</h4>
      </ion-item>
      <ion-item>
        Tags : {{reqs.req_tags}}
      </ion-item>
      <!--<ion-item>
      <p>{{reqs.req_type}}</p>
    </ion-item>-->
      <ion-item>
        Bidding Price : {{reqs.req_bid| currency:'₱ ':true:'1.2-2'}}
      </ion-item>
      <ion-item>
        Bumps : {{reqs.req_bump}}
      </ion-item>
      <ion-item>
        {{reqs.req_date | date}}
      </ion-item>
    </ion-card-content>
    <ion-button size="small" class="card-button" (click)="delReq(reqs.req_id)">Bump</ion-button>
    <ion-button size="small" class="card-button" (click)="delReq(reqs.req_id)">Edit</ion-button>
    <ion-button size="small" class="card-button" (click)="delReq(reqs.req_id)">Delete</ion-button>

  </ion-card>

  <!--<ion-card *ngFor="let reqs of reqs" [color]="reqs.req_type == 'Buying' ? 'primary' : 'tertiary'">
    <ion-card-header></ion-card-header>

  </ion-card>-->

</ion-content>
