<ion-content>
      
      <ion-select #C (ionChange)="onChange(C.value)" [(ngModel)]="req_type" placeholder="Pick one">
        <ion-select-option value="Photo Editing">Photo Editing</ion-select-option>
        <ion-select-option value="Video Editing">Video Editing</ion-select-option>
        <ion-select-option value="Writing Jobs">Writing Jobs</ion-select-option>
      </ion-select>

      <ion-item class="desc">
        <ion-textarea placeholder="Describe what you want..." [(ngModel)]="req_desc"></ion-textarea>
      </ion-item>

      <div>
          <ion-button (click)="addReq()" color="warm">Submit</ion-button>
      </div>
</ion-content>
  