ion-select {
    padding-top: 50px;
}

.desc {
    padding-top: 30px;
}

ion-button {
    color: darkslategray;
    background-color: lightgreen;
    font-size: 20px;
    margin-left: 60px;
    width: 150px;
    height: 50px;
    align-items: center;
    margin-top: 40px;
}