<ion-content>
    <ion-list>
        <ion-list-header>
          <ion-label>
            <h2>Select from our services:</h2>
          </ion-label>
        </ion-list-header>
      
        <ion-item>
          <ion-label>Pick One</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="photo">Photo Editing</ion-select-option>
            <ion-select-option value="video">Video Editing</ion-select-option>
            <ion-select-option value="write">Writing Jobs</ion-select-option>
          </ion-select>
        </ion-item>
      
      </ion-list>

      <ion-item class="desc">
        <ion-textarea placeholder="Describe what you want..."></ion-textarea>
      </ion-item>

      <div>
          <ion-button color="warm">Submit</ion-button>
      </div>
</ion-content>
  