<ion-content>

  <div class="slides ion-margin-bottom">
    
    <ion-label *ngFor=" let users of users">
      <h3>Welcome,</h3>
      <h1>{{ users.user_name }}</h1>
      </ion-label>

  </div>
  <br>
  <div class="container" *ngFor=" let users of users ">
    <h1 class="title">Profile Information:</h1>
    <hr>

    <p class="desc">Contact: {{ users.user_contact }}</p>
    <p class="desc">Email: {{ users.user_email }} </p>
    <p class="desc">Role: {{ users.user_roles }} </p>

  </div>

  <p>This is my posts:</p>
  <ion-card *ngFor="let reqs of reqs">
    <ion-card-header>{{reqs.req_type}}</ion-card-header>
    <ion-card-header>{{reqs.req_desc}}</ion-card-header>
    <ion-card-header>{{reqs.user_name}}</ion-card-header>
    <ion-card-header>{{reqs.user_roles}}</ion-card-header>
  </ion-card>

  <div class="action-button">
    <ion-button class="logout" (click)="logout()" color="warm">Logout</ion-button>
  </div>



</ion-content>