<ion-content>

  <div class="nameplace">
    <ion-label *ngFor=" let users of users">
      <span><h1 class="name">{{ users.user_name }}</h1> <img src="../assets/avatar.jpeg" alt="" class="avatar" /></span>
    </ion-label>
  </div>

  <div class="container" *ngFor=" let users of users ">
    <h1 class="title">Profile Information:</h1>
    <p class="desc">Contact : {{ users.user_contact }}</p>
    <p class="desc">Email : {{ users.user_email }} </p>
    <p class="desc">Role : {{ users.user_roles }} </p>
  </div>

  <h2 class="post"> My Posts:</h2>
  <ion-card *ngFor="let reqs of reqs">
    <ion-card-header>{{reqs.req_date |  date}}</ion-card-header>
    <ion-card-content>
      <p>{{reqs.req_type}}</p>
      <p>{{reqs.req_desc}}</p>
      <p>{{reqs.user_name}}</p>
      <p>{{reqs.user_roles}}</p>
      <ion-button class="cancel" color="danger" (click)="delReq(reqs.req_id)">Cancel request</ion-button>
    </ion-card-content>
  </ion-card>

  <div class="logout-container">
    <ion-button class="logout" (click)="logout()">Logout</ion-button>
  </div>



</ion-content>
