<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col>
          <h4>Profile</h4>
        </ion-col>
        <ion-col>
          <ion-button class="logout-button" color="secondary" size="small" (click)="logout()">
            <fa-icon icon="sign-out-alt" size="sm"></fa-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>


  <div class="search">
    <ion-searchbar animated autocomplete placeholder="Search..." [(ngModel)]="filterTerm"></ion-searchbar>
  </div>

  <ion-card *ngFor="let reqs of reqs | filter:filterTerm" [color]="reqs.req_type == 'Buying' ? 'primary' : 'tertiary'">
    <ion-card-header><h4>{{reqs.req_title}}</h4></ion-card-header>
    <ion-card-content>
      <fa-icon icon="briefcase" size="4x"></fa-icon>
      <p>{{reqs.req_desc}}</p>
      <!--<p>{{reqs.req_type}}</p>-->
      <p>Posted by : {{reqs.user_name}}</p>
      <p>Contact # : {{reqs.user_contact}}</p>

      <p>Bidding Price : {{reqs.req_bid| currency:'PHP':true:'1.2-2'}}</p>
      <p>{{reqs.req_tags}}</p>

      <span><fa-icon icon="star" size="s"></fa-icon></span>
      <span><fa-icon icon="star" size="s"></fa-icon></span>
      <span><fa-icon icon="star" size="s"></fa-icon></span>
      <span><fa-icon icon="star" size="s"></fa-icon></span>
      <span><fa-icon icon="star" size="s"></fa-icon></span>

      <p>Bumps : {{reqs.req_bump}}</p>
      <p>{{reqs.req_date | date}}</p>
      <!--<ion-button size="small" class="cancel" color="danger" (click)="delReq(reqs.req_id)">Cancel request</ion-button>-->
    </ion-card-content>
  </ion-card>

  <!--<ion-card *ngFor="let reqs of reqs" [color]="reqs.req_type == 'Buying' ? 'primary' : 'tertiary'">
    <ion-card-header></ion-card-header>

  </ion-card>-->

</ion-content>
